# List of the URL path to fetch
URLS_FILE=./input/urls.csv

# API base URLs
MASTER_API_BASE_URL=https://api2.fao.org/api/fishstatrest/1.0.0
MASTER_API_AUTHORIZATION_TOKEN=Bearer xxxyyyzzz

SECONDARY_API_BASE_URL=http://localhost:3000
SECONDARY_API_AUTHORIZATION_TOKEN=


# Output folder to store the result of the comparisons
RESPONSES_RESPONSES_OUTPUT_FOLDER=./responses/
DIFFERENCES_OUTPUT_FOLDER=./differences/